<nav class="nav-wrapper">
  <div class="container">
    <a href="#" class="brand-logo left">NAME</a>
    <ul class="right">
      <li><a href="#" class="logout"> Account</a></li>
    </ul>
  </div>
</nav>



<div class="container section">
  <div class="row">
    <div class="col s12 l6 z-depth 5 center-align medCard">

      <form action="/index/inputs" method="POST" class="align-center" id="medicForm">
        <input placeholder="Medication #1" type="text" class="medOne" name="medOne" required="" area-required="true"
          oninvalid="this.setCustomValidity('Enter a medication')" oninput="setCustomValidity=('')">
      </form>
      <a class="btn-floating btn-large waves-effect waves-light blue" id="addMed"><i class="material-icons plus">add</i></a>
    </div>
  </div>
</div>



<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l12 pull">
        <div class="card small white darken-5 z-depth-3">
          <div class="card-stacked">
            <div class="card-content">
              <p> added meds </p>
            </div>
          </div>
        </div>
      </div>
      <button class="btn waves-effect waves-light col offset-s3 s6" type="submit" id="medicInput" name="action">
        check
      </button>
      <div class="col s12 m6 l12 push">
        <div class="card small white darken-5 z-depth-3">
          <div class="card-stacked">
            <div class="card-content">
              <p> reactions</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>












<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="/js/authenticate.js"></script>
<script src="/js/index.js"></script>