<div class="container">
    <div class="row">
        <h3 class="header center-align">OUR NAME</h3>
    </div>
</div>
<!--image!-->

<div class="section white darken-2 z-depth-5">

    <div class="card col s12 m12 m12 z-depth-3">
        <div class="card-title center-align">
            <h2> DISCLAIMER </h2>
        </div>
        <div class="card-content">
            <h4> {{disc}}</h4>

        </div>

        <div class="card-footer">
            <div class="center-align">
                <form action="#" class="center-align">
                    <p>
                        <label>
                            <input type="checkbox" name="checkbox" class="filled-in check center-align" />
                            <span class="white-text">agree</span>
                        </label>


    <button type="submit" data-target="modal1" id="logBtn" class="waves-effect waves-light truncate btn modal-trigger cyan lighten-1 btn-large ">
Login</button>
                    </p>
                </form>

            </div>
        </div>
    </div>

</div>

<div id="modal1" class="modal">
    <h4 class="modalHead center-align">Sign in!</h4>
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <ul class="tabs center-align">
                    <li class="tab s3"><a href="#newUsr">New User</a></li>
                    <li class="tab s3"><a href="#exUsr">Existing User</a></li>
                </ul>
            </div>
            <div id="newUsr" class="col s12">
                <form id="signUp" name="signUp" method="post" action="/signup">
                    <label for="fname">First Name</label>
                    <input class="text" name="fname" type="text" id="fName" required="true">
                    <label for="lname">Last Name</label>
                    <input class="text" name="lname" type="text" id="lName" required="true">
                    <label for="Email">Email Address</label>
                    <input class="text" name="username" type="text" value="" id="signupUsername" required="true" />
                    <label for="psw">Password</label>
                    <input name="Password" type="password" name="pws" id="signupPassword" required="true"/>
                    <input class="btn center-align" type="submit" id="newUser" value="Sign Up"/>
                </form>
                <p id="result"></p>
            </div>
            <div id="exUsr">
                <form id="signIn" name="signIn" method="post" action="/login">
                    <label for="email">Email Address</label>
                    <input class="text" name="username" type="text" value="" id="username" />
                    <label for="password">Password</label>
                    <input name="password" type="password" id="password" />
                    <input class="btn center-align" type="submit" id="existingUsr" value="Sign In" />
                </form>
                <p id="result"></p>
            </div>
        </div>

        <div class="modal-footer">
            <a href="/index" class="modal-action modal-close waves-effect waves-red btn-flat" type="submit">Submit
                details</a>
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/authenticate.js"></script>