<div class="container">
    <div class="row">
        <div class="card blue-grey darken-1 z-depth 5">
            <div class="card-content white-text">
                <span class="card-title center-align">DISCLAIMER</span>
                {{disc}}

                <form action="#" class="center-align">
                    <p>
                        <label>
                            <input type="checkbox" name="checkbox" class="filled-in check center-align" />
                            <span class="white-text">agree</span>
                        </label>
                    </p>
                </form>
            </div>

            {{!-- <button class="btn waves-effect waves-light col offset-s3 s6 align-right" id="logBtn" data-target="modal1"
                type="button"> LOG IN
            </button> --}}

            <div class="center-align">
                <button type="submit" data-target="modal1" id="logBtn" class="waves-effect waves-light truncate btn modal-trigger cyan lighten-1 btn-large ">
                    Login</button>
            </div>

        </div>
        <div id="modal1" class="modal">
            <h4 class="modalHead center-align">Sign in!</h4>
            <div class="modal-content">
                <div class="row">
                    <div class="col s12">
                    <form id="signin" name="signin" method="post" action="signin">
                        <label for="email">Email Address</label>
                        <input class="text" name="email" type="text" />
                        <label for="password">Password</label>
                        <input name="password" type="password" />
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <a href="/index" class="modal-action modal-close waves-effect waves-red btn-flat">Submit details</a>
            </div>
        </div>

    </div>
</div>
</div>



<!-- Modal Structure -->


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/authenticate.js"></script>